<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.dao.IMemberDao">

    <sql id="memberSql">
        id,name,nickName,phoneNum,email
    </sql>

    <!--查根据id询会员信息-->
    <select id="findById" parameterType="java.lang.String" resultType="com.itheima.domain.Member">
        select
        <include refid="memberSql"></include>
        from member
        where id=#{id} limit 1
    </select>

    <!--查询全部会员信息-->
    <select id="findAll" resultType="com.itheima.domain.Member">
        select
        <include refid="memberSql"></include>
        from member
    </select>

</mapper>
